<div class="flex flex-col lg:flex-row w-full mx-auto p-4 gap-5">
    <!-- right -->
    <div class="bg-gray-900 text-white p-4 rounded-lg shadow-md w-full lg:w-1/5 bg-opacity-70 h-[70vh]">
        <form class="user-form-dialog__input" [formGroup]="formCreateDeck">
            <ng-container formGroupName="deck">
                <span class="flex-item" (click)="back()">
                    <igx-icon>arrow_back</igx-icon>
                    Voltar
                </span>
                <h2 class="text-xl font-bold mb-4">Novo Baralho</h2>
                <span class="font-bold mb-4 text-lg">Total de Cartas Escolhidas: {{totalCards()}} </span>
                <div class="mb-4 mt-[5vh]">
                    <label for="input1" class="block text-sm font-medium">Nome</label>
                    <input formControlName="name" type="text" placeholder="Digite o nome do baralho" class="w-full p-2 mt-1 text-gray-900 placeholder-gray-500 bg-gray-700
                            bg-opacity-60 border border-gray-600 rounded-md focus:outline-none 
                            focus:ring-2 focus:ring-blue-500" />
                </div>
                <div class="mb-4 mt-[5vh]">
                    <button igxButton="contained" igxRipple (click)="save()" [disabled]="!isSaveButtonEnabled()" class="w-full border-blue-500 border-2 bg-yellow-500 
                            text-black-600 hover:bg-yellow-400 hover:border-blue-600
                            disabled:bg-gray-300 disabled:border-gray-300 disabled:text-gray-500">
                        Salvar Baralho
                    </button>
                </div>
            </ng-container>
        </form>
    </div>

    <!-- left -->
    <div class="w-full lg:w-2/1">
        <!-- input filter -->
        <div class="mb-4">
            <igx-input-group class="p-4">
                <input igxInput [formControl]="searchControl" placeholder="Filtar pelo nome..." class="w-full p-2 text-white-700 placeholder-white placeholder-font-bold
                    placeholder:text-white-700 bg-gray-800 bg-opacity-70" />
            </igx-input-group>
        </div>

        <!-- pokemon card list -->  
        @if(!loading) {
            <div
                class="grid gap-5 justify-center p-4 grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 mb-20">
                <ng-container>
                    @for (card of cardPagination.data; track card) {
                    <div class="relative flex items-center justify-center">
                        <app-card [card]="card" [shouldApplyOpacity]="opacitySignal(card.name)" [addSignal]="addSignal"
                            [removeSignal]="removeSignal">
                        </app-card>
                    </div>
                    }
                </ng-container>
            </div>
        }

        <!-- empty data message -->
        @if(!loading && cardPagination.data.length === 0) {
            <ng-container>
                <span class="w-full h-[60vh] flex items-center justify-center">
                    Nenhuma carta Pokémon encontrada.
                </span>
            </ng-container>
        }

        <!-- loading -->
        @if(loading) {
            <div class="w-full h-[60vh] flex items-center justify-center">
                <div class="ball"></div>
            </div>
        }
    </div>
</div>

<!-- pagination -->
<igx-paginator #paginator [perPage]="cardPagination.pageSize" [selectOptions]="itemsPerPage"
    [totalRecords]="cardPagination.totalCount" (pageChange)="onPageChange($event)"
    (perPageChange)="perPageChange($event)"
    class="fixed bottom-4 left-1/2 transform -translate-x-1/2 p-2 rounded-md shadow-lg bg-white w-full">
</igx-paginator>