<div class="flex-center min-screen">
    <div class="sample-column card-wrapper">
        <igx-card elevated class="card-wrapper">
            <img src="assets/images/pokemon-logo.png" alt="Pokemon" class="logo-img">

            <div class="button-wrapper">
                <button igxButton="contained" igxRipple
                    class="button-primary"
                    (click)="myDecks()">
                    Meus Baralhos
                </button>
                <button igxButton="contained" igxRipple
                    class="button-secondary"
                    (click)="createDeck()">
                    Novo Baralho
                </button>
            </div>
        </igx-card>
    </div>
</div>
