
@use "igniteui-angular/theming" as *;


@include core();
@include typography($font-family: $material-typeface, $type-scale: $material-type-scale);
@include theme($default-palette);

@import 'minireset.css/minireset';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


$background-image: url('assets/images/background-img.jpg');

@mixin background-image($image) {
  background-image: $image; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  @include background-image($background-image);
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}


// loading pokeball style animation
.ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: white;
  position: relative;
  box-shadow: -20px 0 rgba(0, 0, 0, 0.1) inset;
  animation: roll 1s ease-in-out infinite;
  background: linear-gradient(
    to bottom,
    #e83e35 0%,
    #e83e35 50.5%,
    #ffffff 50.51%,
    #ffffff 100%
  );
}

.ball:after {
  content: "";
  position: absolute;
  top: calc(100px - 3px);
  left: 0;
  width: 200px;
  height: 6px;
  background: #3f3f3f;
}

.ball:before {
  content: "";
  position: absolute;
  top: 67px;
  left: 67px;
  width: 54px;
  height: 54px;
  border: solid 6px #3f3f3f;
  border-radius: 50%;
  background: white;
  z-index: 1;
  box-shadow: 0 0 15px -2px #c62828 inset;
  animation: button 3s ease infinite;
}

@keyframes roll {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(720deg);
  }
}

@-webkit-keyframes roll {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(720deg);
  }
}

.ball {
  animation: roll 2s linear infinite;
  -webkit-animation: roll 2s linear infinite;
}

.justify-text-center {
  @apply w-full h-[60vh] flex items-center justify-center;
}